@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


.Google-map{
    display: flex;
    font-size: 23px;
  /*  border: 7px solid blue;*/
    border-radius: 10px;

}
/*Direction of the menu*/
ul{
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.distance{
    margin-bottom: 100px !important;
    margin-top: 100px !important;

}
/*Direction of all the div in the navbar*/
.navbar div{
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.image-menu-map{
    width: 50px !important;
}

.Google-map img{
    width: 50px;
}
.map-color{
    border: 5px black solid;
}


#map{
    grid-column-start: 1;
    grid-column-end: 4;
    height: 800px;
    width: 100%;
}

.gm-style-iw{
    color: black !important;
    font-family: 'Poppins', sans-serif;
}

/* Pop-Up*/
.gm-style .gm-style-iw-c {
    background-color: white;
    border-radius: 1px;
    padding: 12px;
    border: 3px solid #212529;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
}
 /*hidde the arrow*/
.gm-style .gm-style-iw-t::after {
   display: none;
}

/*petit bonhomme*/
.gm-svpc{
    display: none;
}

/*photo in the pop-up*/
.image-pop-up{
    width: 100px;
}

/*about section pop up*/
.about-section-pop-up{
    display: grid;
    justify-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

/*Taille Image dans le pop-up*/
.about-section-pop-up img{
    width: 150px;
}

/*position image dans le pop-up*/
.grid-item1-pop-up {
    grid-column-start: 1;
    grid-column-end: 3;
  }

/*position about section pop up*/
.grid-item2-pop-up {
    grid-column-start: 3;
    grid-column-end: 4;
  }





